.task-details-modal {
    background-color: white;
    color: black;
}

.comment-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.comment-person {
    width: 50%;
}

.comment-date {
    width: 50%;
}

h2 {
    margin-bottom: 0;
}